In [1]:
# Doc https://www.nltk.org/api/nltk.html

import pyodbc
import matplotlib as plt
import numpy as np
import pandas as pd
import nltk

In [3]:
# Connection string to connect to SQL Server named instance.

#conn_str = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server}; SERVER=LENOVO\SQLEXPRESS; DATABASE=tpcxbb_1gb; UID=<username>; PWD=<password>')

conn_str = pyodbc.connect('Driver={SQL Server};' 'Server=LAPTOP-OSCU37E8\SQLEXPRESS;''Database=tpcxbb_1gb;''Trusted_Connection=yes;')

input_query = '''SELECT

T0.pr_review_date AS FechaReview,

T0.pr_item_sk AS ProductID,

T0.pr_review_rating AS Calificacion,

T0.pr_review_content AS Review,

T0.pr_user_sk AS Usuario,

T1.i_category AS Categoria,

T1.i_product_name AS Producto,

T1.i_item_desc AS Descripcion,

T1.i_size AS tamaño



FROM product_reviews T0

join item T1 ON T0.pr_item_sk = T1.i_item_sk'''



###################################################

reviews_data = pd.read_sql(input_query, conn_str)


print("Data frame:", reviews_data.head(n=5))

c:\Users\34649\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Data frame:   FechaReview  ProductID  Calificacion  \
0  2001-07-08      10002             5
1  2003-11-04      10002             5
2  2001-11-26      10002             5
3  2001-09-22      10002             5
4  2005-11-08      10002             5

                                              Review  Usuario  \
0  wow this is probably my favorite tracks are 1,...    21754
1  From Memphis, TN. comes The Reatards, fronted,...    66453
2  Catch Without Arms Dredg's best work to date. ...    42203
3  Stripped Down, dirty, and very bad ass. The Fr...    82453
4  In the vein as the "Superchumbo Remix". Listen...    92821

                                           Categoria  \
0  Music                                         ...
1  Music                                         ...
2  Music                                         ...
3  Music                                         ...
4  Music                                         ...

                                            Producto  \
0  bwTLbeGP8aT6bW7YjgxmDJuCUTlwG1Fz78VewSCYQULiop...
1  bwTLbeGP8aT6bW7YjgxmDJuCUTlwG1Fz78VewSCYQULiop...
2  bwTLbeGP8aT6bW7YjgxmDJuCUTlwG1Fz78VewSCYQULiop...
3  bwTLbeGP8aT6bW7YjgxmDJuCUTlwG1Fz78VewSCYQULiop...
4  bwTLbeGP8aT6bW7YjgxmDJuCUTlwG1Fz78VewSCYQULiop...

                                         Descripcion                tamaño
0  busy daring tithes integrate slyly! enticingly...  economy
1  busy daring tithes integrate slyly! enticingly...  economy
2  busy daring tithes integrate slyly! enticingly...  economy
3  busy daring tithes integrate slyly! enticingly...  economy
4  busy daring tithes integrate slyly! enticingly...  economy